/* * {
    border: 1px solid black;
} */
/* .tri {
    width: 0px;
    height: 0px;
    background-color: pink;
    border-bottom:104px solid pink;
    border-top: 60px solid mediumspringgreen;
    border-left: 60px solid rgb(245, 245, 175);
    border-right: 60px solid transparent;
} */

